/* <!-- :not Pseudo Classes  --> */

/* :not(p){
    color: goldenrod;
} */

/* :not(p) means , except P change color but in above case except p , it also changes the color of body means Heading and paragraphs */
/* are changed. so, for stopping this */

body :not(p){
    color: magenta;
}

body :not(.fancy){
    background-color: antiquewhite;
    color: green;
}


/* <!-- :empty Pseudo Classes  --> */

div:empty{
    background: #222;
    border: 2px solid red;
    height: 100px;
    width: 100px;
}


/* <!-- :root Pseudo Classes : it means you select whole HTML. it has more specificity than html --> */

:root{
    background: aquamarine;
}




























































































