/* <!--there are 4 Pseudo Classes => Link , Visited , Hover , Active --> */

/* Before visiting */
a:link{
    color: orange;
}

/* After visiting */
a:visited{
    color: red;
}

/* on hovering */
a:hover{
    color: green;
}

/* click and hold  */
a:active{
    color: #000;
}

article:hover{
    color: gold;
}

/* click and hold  */
article:active{
    color: magenta;
}

/* Always try to maintain the order :- Link , Visited , Hover , Active */

/* on focus we want to change Property */
input:focus{
    padding: 7px;
    outline: none;
    border: 3px dashed greenyellow;
}

input:required{
    color: red;
}


/* First Child  and  First of type Pseudo class*/

p:first-child{
    color: brown;
}

h3:first-child{
    color: chartreuse;
}

p:first-of-type{
/* this will Over-ride Brown color */
    color: darkmagenta;
}

/* Last Child  and  Last of type Pseudo class*/

p:last-child{
    color: burlywood;
}

h3:last-child{
    color: hotpink;
}

p:last-of-type{
/* this will Over-ride Brown color */
    color: blue;
}