/* <!--there are 4 Pseudo Classes => Link , Visited , Hover , Active --> */

/* Before visiting */
a:link{
    color: orange;
}

/* After visiting */
a:visited{
    color: red;
}

/* on hovering */
a:hover{
    color: green;
}

/* click and hold  */
a:active{
    color: #000;
}

p:hover{
    color: gold;
}

/* click and hold  */
p:active{
    color: magenta;
}