body{
    font-family: Arial, Helvetica, sans-serif;
}

 .box-wrapper{       /* box-wrapper is Flex - Container*/
    border: 10px solid #222;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

/* Flex-Basis  is Intial length of item towards main-axis (Read it on your own) */



.box{
    border: 1px solid #666;
    flex-basis: 300px;
    width: 400px;
/* Checking flex-basis when flex-direction is column */
/* height: 500px; */
}

 /* all 5 boxes  are  Flex - Items*/ 

.box-1{
    background: lightblue;
}

.box-2{
    background: lightcoral;
}

.box-3{
    background: lightgray;
}

.box-4{
    background: lightsalmon;
}

.box-5{
    background: lightyellow;
}
