body{
    font-family: Arial, Helvetica, sans-serif;
}

/* <!-- For Writting , Flex-direction and flex-wrap both , we use Flex-Flow --> */


 .box-wrapper{      
    border: 10px solid #222;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    border: 1px solid #666;
    width: 300px;
}

 /* all 5 boxes  are  Flex - Items*/ 


/* Using Align-self ==>>  Align-self  overrides  Align-Items */

.box-1{
    background: lightblue;
    align-self: flex-start;
}

.box-2{
    background: lightcoral;
    align-self: center;
}

.box-3{
    background: lightgray;
    align-self: flex-end;
}



/* <!-- Using Order ==>>  Order small comes first , Order greater Comes last--> */


.boxWrapper{      
    border: 10px solid aqua;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Box{
    border: 1px solid #666;
    width: 200px;
}

 /* all 5 boxes  are  Flex - Items*/ 


/* Using Align-self ==>>  Align-self  overrides  Align-Items */

.Box-1{
    background: lightblue;
    order: 2;
}

.Box-2{
    background: lightcoral;
    order: 5;
}

.Box-3{
    background: lightgray;
    order: 3;
}

.Box-4{
    background: lightsalmon;
    order: 0;

}

.Box-5{
    background: lightyellow;
    order: 4;
}