body{
    font-family: Arial, Helvetica, sans-serif;
}


/* NOTE ==>>  Justify-content works on Main-Axis  and  Align-Items works on  Cross-Axis */


 .box-wrapper{       
    border: 10px solid #222;
    height: 700px;
    margin-bottom: 30px;
    display: flex;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
}


/* Using Align Items with  flex-direction */

.container{       
    border: 10px solid aqua;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: flex-end;
    /* align-items: center; */
}



.box{
    border: 1px solid #666;
}

 /* all 5 boxes  are  Flex - Items*/ 

.box-1{
    background: lightblue;
}

.box-2{
    background: lightcoral;
}

.box-3{
    background: lightgray;
}

.box-4{
    background: lightsalmon;
}

.box-5{
    background: lightyellow;
}





