
/* Distance between Border and Content is known as Padding */
/* Area outside border is known as Margin */

body{
   color: red;
}

h3{
    border: 4px double brown;
/* Different ways of writing Padding */

    /* padding-left: 40px;
    padding-top: 70px;
    padding-bottom: 30px; */

    /* OR */
    /* padding: 40px; */

    /* OR (top ,bottom) , (left, right)*/
    /* padding: 20px 40px; */

    /* OR (top , right , bottom , left)*/
    padding: 20px 40px 60px 80px;

/* Like Padding , we can also write Margin */
    margin: 50px;
}

h2{
    border: 8px solid blue;
    padding: 10px;
 /*for adjusting Width  */
    width: 500px;
/* For putting Border in center */
margin: 20px auto;
/* 20px gives (top ,bottom) margin and auto automatically adjust (left, right) margin. */
/* for putting content in center */
text-align: center;
background: pink;
}

/* <!-- Exercise => 1 (for Understanding Basic Concepts) --> */

h1{
    border: 1px solid ghostwhite;
    width: 800px;
    background: grey;
    text-align: center;
   /* For putting Border in center */
    margin: 30px auto;
/* 20px gives (top ,bottom) margin and auto automatically adjust (left, right) margin. */
}

section{
    border: 2px solid black;
    margin: 20px auto;
    padding: 10px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
}

/* <!-- CSS  Margin Collapsing --> */

.box1 , .box2{
    border: 2px solid #444;
    padding: 10px;
}

/* Which margin ig Greater it will take that margin . see in Developer tools */

.box1{
    margin-bottom: 80px;
}

.box2{
    margin-top: 100px;
}

/* Block level elements take full width , but here we fix the width using width Property and same as with height*/
.Block{
    border: 8px solid blue;
    padding: 10px;
    text-align: center;
    background: pink;
    width: 1100px;
    height: 80px;
    /* For changing in InLine (h1 , h2 will show in In-Line) */
    display: inline;
}


/* <!-- Inline elements only take that width which is required --> */
a{
    border: 8px solid red;
/* In  Inline elements  Width  and  height property don't work . we can't fix width and height*/
    width: 1100px;
    height: 80px;

/* /* In  Inline elements margin Top and Bottom Don't work . only margin left and Right work*/
margin-top: 80px;
margin-bottom: 80px;
margin-left: 100px;
margin-right: 100px;

/* In  Inline elements Padding Top and Bottom will mashup the thinghs it don't look good. so, we use padding Left and Right*/
/* padding-top: 50px;
padding-bottom: 50px; */
padding-left: 50px;
padding-right: 50px;

/* For changing in Block (Link 1 and Link 2 will become Block means take Complete width)*/
display: block;

}

/* <!-- Inline elements have some issues with Width , Height , Margin , Padding. so, we use Display: Inline - Block Property--> */
span{
    border: 3px double greenyellow;
    display: inline-block;
/* In Inline elements margin Top and Bottom Don't work but using  Inline - Block Property it will work*/
    margin: 20px;
/* In Inline elements Padding Top and Bottom creates Overlapping but using  Inline - Block Property it Don't creates any Overlapping*/
    padding: 20px;
/* In  Inline elements we can't fix width and height but using  Inline - Block Property we fix width and height*/
    width: 100px;
    height: 70px;
}

/* <!-- Image is Different from Other Inline Elements --> */
img{
    width: 200px;
 /* Height will automatically adjust by Browser */
    border: 4px double hotpink;
    padding: 20px;
    margin: 30px;
    border-radius: 25px;
}


/* <!-- Understanding Box Sizing : Border Box --> */

hr{
    width: 500px;
    margin-left: 20px;
    border: 1px dashed black;
}

.size1{
    width: 500px;
    margin-left: 20px;
    background-color: lightcoral;
/* width is 500px but adding border , it again increses */
    border: 10px solid blue;
/* after adding Padding , it's width again increases */
    padding: 50px;
/* Now Total width = 500px + 10px + 50px = 560px */
/* it is a problem. so, we want that Border don't increase if we give Padding , margin or Anythigh */
}

    /* Now we have to use a property   box-sizing: border-box; */

.size2{
/* this is a important property , must used in layouts */
    box-sizing: border-box;                        
    width: 500px;
    background-color: lightcoral;
    border: 10px solid blue;
    padding: 50px;
    margin: 10px;
    margin-left: 20px;
}


/* <!-- CSS  Inheritance --> */

/* Currenty it Inherit Color from body but we can change this */
.container1{
    color: blue;
}

.container2{
    color: green;
}

h6{
    color: magenta;
}

/* we change all the color which Inherited from body */